<section class="legend">
  <section class="legend-category">
      <h3>Máscara</h3>
      <div class="legend-category-recommendation">
          <div>
              <img src="/assets/images/png/required-mask.png" alt="Required Mask Icon">
              <p>Obrigatório</p>
          </div>
          <div>
              <img src="/assets/images/png/recommended-mask.png" alt="Recommended Mask Icon">
              <p>Recomendado</p>
          </div>
      </div>
  </section>
  <section class="legend-category">
      <h3>Toalha</h3>
      <div class="legend-category-recommendation">
          <div>
              <img src="/assets/images/png/required-towel.png" alt="Required Towel Icon">
              <p>Obrigatório</p>
          </div>
          <div>
              <img src="/assets/images/png/recommended-towel.png" alt="Recommended Towel Icon">
              <p>Recomendado</p>
          </div>
      </div>
  </section>
  <section class="legend-category">
      <h3>Bebedouro</h3>
      <div class="legend-category-recommendation">
          <div>
              <img src="/assets/images/png/partial-fountain.png" alt="Partial Fountain Icon">
              <p>Parcial</p>
          </div>
          <div>
              <img src="/assets/images/png/forbidden-fountain.png" alt="Forbidden Fountain Icon">
              <p>Proibido</p>
          </div>
      </div>
  </section>
  <section class="legend-category">
      <h3>Vestiários</h3>
      <div class="legend-category-recommendation">
          <div>
              <img src="/assets/images/png/required-lockerroom.png" alt="Required Locker Room Icon">
              <p>Liberado</p>
          </div>
          <div>
              <img src="/assets/images/png/partial-lockerroom.png" alt="Partial Locker Room Icon">
              <p>Parcial</p>
          </div>
          <div>
              <img src="/assets/images/png/forbidden-lockerroom.png" alt="Forbidden Locker Room Icon">
              <p>Fechado</p>
          </div>
      </div>
  </section>
</section>
